#uc-foi-table {
  display: block;
}

#uc-foi-table-headings td {
  font-size: 1.4em;
  font-weight: bold;
  color: rgba(0,0,0,0.9);
}

#uc-foi-search-form {
  margin: 1rem 0;
}
#uc-foi-search-form input {
  display: block;
  margin: 1rem 0;
}

#uc-foi-search-form button {
  display: inline-block;
  margin-right: 1rem;
}

#uc-foi-table-search {
  width: 250px;
  font-size: 16px;
}

#uc-foi-body-content td {
  font-size: 14px;
  width: 200px;
}

#uc-foi-table .hidden {
  display: none;
}

.nav-links {
  font-size: 1.1em;
  margin: 2em 0;
}

.nav-links * + * {
  margin-left: 0.5em;
}

.nav-links a:hover,
td a:hover {
  text-decoration: none;
}

.uc-foi-overlay {
  display: block;
  visibility: visible;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.uc-foi-overlay.uc-foi-hidden {
  display: none;
  visibility: hidden;
}

.uc-foi-details-container {
  background-color: white;
  max-height: 600px;
  overflow-y: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem;
  border: 1px solid;
}

.uc-foi-loading-text {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.uc-foi-loader {
  display: inline-block;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #777777;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.uc-foi-details-container hr {
  margin: 20px 0;
}

.uc-foi-detail-close {
  margin-right: 1rem;
  text-transform: uppercase;
}

.uc-foi-detail-print {
  text-transform: uppercase;
}


/* create a printable version of the request */
@media print {
  /* hide everything in the body except the following elements */
  body * {
    visibility: hidden;
  }

  .uc-foi-overlay {
    visibility: visible;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .uc-foi-details-container {
    display: block;
    min-height: 0;
    max-height: 0;
    overflow-y: inherit;
    top: 10%;
    width: 1000px;
  }

  .uc-foi-print-container {
    font-size: 22px;
    display: block;
    visibility: visible;
    max-width: 800px;
    position: absolute;
    top: 0;
    left: 6em;
    margin: 1rem;
  }

  .uc-foi-print-container .uc-foi-detail-name,
  .uc-foi-print-container .uc-foi-detail-title,
  .uc-foi-print-container .uc-foi-detail-subject,
  .uc-foi-print-container .uc-foi-detail-affiliation,
  .uc-foi-print-container .uc-foi-detail-notes,
  .uc-foi-print-container .uc-foi-detail-content {
    display: block;
    visibility: visible;
  }
  
  .uc-foi-print-container .uc-foi-detail-content {
    page-break-inside: auto;
  }
}